.cat-item-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-rows: max-content;
    margin-bottom: 4rem;

    .cat-item{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
        position: relative;
        margin-bottom: 4em;
        *{
            margin: 0;
            padding: 0;
        }
        .name{
            display: flex;
            width: 160px;
            margin: 0.5rem;
            font-size: 1rem;
            .price{
                margin-left: auto;
            }
        }
        .en-name{
            display: flex;
            width: 160px;
            font-size: 0.8rem;
            color: var(--ion-color-medium);
            margin-bottom: auto;
        }
        .add-to-cart-button{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 99px;
            margin-top: 0.5rem;
            width: 160px;
            padding: 0.5rem;
            flex-direction: row;
            background-color: var(--ion-color-warning);
            color: var(--ion-color-warning-contrast);
            cursor: pointer;
            &.disabled{
                cursor: not-allowed;
            }
            p{
                margin-left: 0.3rem;
            }
        }
        .sold-out-overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.7);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .sold-out-text{
                width: 160px;
                height: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--ion-color-danger);
            }
        }
    }
}
.toast-container{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    padding: 0.5rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    .toast {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        background: var(--ion-color-warning);
        color: var(--ion-color-warning-contrast);
        border-radius: 0.5rem;
        box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
        *{
            margin: 0;
            padding: 0;
        }
        .icon{
            margin-right: 0.5rem;
        }
        
    }
}